<table class="table">
  <caption>Resultados de la consulta de cliente</caption>
  <thead class="thead-dark">
    <tr>
        <th *ngFor="let cabecera of Cabeceras">
          {{cabecera}}</th>
    </tr>
  </thead>
  <tbody>
        
          <tr *ngFor="let item of listaPlan | async">

            <td>{{item.id}}</td>
        
            <td>{{item.planName}}</td>
        
            <td>{{item.planValue}}</td>

            <td>{{item.planSpecification}}</td>
        
        
          </tr>
        </tbody>
      
      
  </table>
  
